---
import logo from "../img/logo-g.png";

import linkedin from "../img/linkedin.png";
import github from "../img/github.png";

export interface Props {
	links: object;
    home: string;
    about: string;
    langCV: string;

}

const { links, home, about, langCV } = Astro.props;


let pathName = Astro.url.pathname;

let lastWord = pathName.split("/").pop()


---

<script>

    let select = document.querySelector('select');
    let selectEs = document.querySelector('.es-select') 
    let selectEn = document.querySelector('.en-select') 

    select.addEventListener('change', function() {

        window.location.href = select.value;
       
    });

 

    if (window.location.href.includes('es') || window.location.href.includes('sobre-mi')) {
         
        selectEs.setAttribute('selected', 'true');

    }else{
        
        selectEn.setAttribute('selected', 'true');
    }

    
</script>
<script>
    const menu = document.querySelector('.menu');
    const checkbox = document.querySelector('input[type="checkbox"]');
    checkbox.addEventListener('change', () => {
    if (checkbox.checked) {
        menu.classList.add('open');
        menu.classList.add('animate__fadeInDown');
    } else {
        
        setTimeout(() => {
            menu.classList.remove('open');
        }, 100);
    }
    });

</script>

<header id="header" class="header container glass glass--head">
    <p class="header__title elemento">
        <a href={home}><img src={logo} alt="logo"></a>
    </p>
    <label for="burger" class="menu-button burger elemento">
        <input id="burger" type="checkbox" />
        <span></span>
        <span></span>
        <span></span>
    </label>
   
    <nav class="menu header__nav-menu">
        <ul class="header__list">
            <li class="header__link">
                <a 
                class={
                pathName === '/' || pathName === home ? 'link-active' : ''
                } 
                href={home}>{links[0]}
            </a>
            </li>
            <li class="header__link">
                <a class={
                    pathName === about || pathName === about ? 'link-active' : ''
                } 
                href={about}>{links[1]}
            </a>
            </li>
            <li class="header__link">
                <a rel="noopener noreferrer" target="_blank" href={langCV}>{links[2]}</a>
            </li>
            <li class="header__link">
                <a href="mailto:info.gustavoavila@gmail.com"  rel="noopener noreferrer" target="_blank">{links[3]}</a>
            </li>
        </ul>

        <div class=" header__rrss elemento">
          

            <a href="https://github.com/tavoavilaa" rel="noopener noreferrer" target="_blank">
                <img src={github} alt="">
            </a>
            <a  href="https://www.linkedin.com/in/gustavo-avila-2a153311b/" rel="noopener noreferrer" target="_blank">
                <img src={linkedin} alt="">
            </a>

           
        </div>
            <select>
                <option class="en-select" value="/">EN</option>
                <option class="es-select" value="/es">ES</option>
            </select>
       
   
        
    </nav>

    
    
</header>



<style>
    .container{
        display: flex;
        justify-content: space-between;
        align-items: center;
    }

    @media (max-width: 991.98px){
    	.container{
            flex-direction: column;
        }
    }
  

    .header{
        padding-top: 8px;
        padding-bottom: 8px;
    }

    @media (max-width: 991.98px){
        .header{
        padding-top: 16px;
        padding-bottom: 24px;
        }
    }

    .header__title{
        font-size: 1.8rem;
        color: var(--white);
        margin: 0;
        position: relative;
        z-index: 1;
    }

    .header__title a{
        display: flex;
        align-items: center;
        column-gap: 16px;
    }

    .header__title a img{
        width: 64px;
    }

    .header__title a{
       text-decoration: none;
       color: var(--white);
    }

    .header__list{
        display: flex;
        justify-content: space-between;
        align-items: center;
        column-gap: 24px;
    }

    @media (max-width: 991.98px){
    	.header__list{
            flex-direction: column;
            justify-content: center;
            align-items: center;
            padding: 0;
        }
    }

    .header__link{
        list-style: none;
    }

    .header__link a{
        text-decoration: none;
        color: var(--white);
        text-transform: uppercase;
        transition: all .3s ease;
        text-align: center;
    }

    @media (max-width: 991.98px){
    	.header__link{
            margin-bottom: 16px;
        }
    }

    .header__link a:hover{
        transition: all .3s ease;
        color: var(--primary);
        
    }

    .link-active{
        color: var(--primary) !important;
        padding: 0px 12px;
        position: relative;
        text-align: center;

        
    }

    .link-active::before{
        content: "";
        position: absolute;
        top: -34px;
        left: 50%;
        transform: translateX(-50%);
        width: 50px;
        height: 4px;
        background: var(--primary);
        box-shadow: 0 0 5px var(--terciary), 0 0 15px var(--terciary), 0 0 30px var(--terciary), 0 0 60px var(--terciary);
    }

    @media (max-width: 991.98px){
        .link-active::before{
            top: initial;
            height: 2px;
            bottom: -8px;
        }
    }

  

    .header__rrss a{
        text-decoration: none;
    }

    .header__rrss a img{
        width: 40px;
        margin: 0 4px;
        transition: transform .5s ease;
    }

    .header__rrss a img:hover{
        transform: scale(1.1);
        transition: transform .5s ease;
    }

    .burger {
  position: relative;
  width: 40px;
  height: 30px;
  background: transparent;
  cursor: pointer;
  margin: 24px 0 24px;
  display: none;
}

.burger input {
  display: none;
}

.burger span {
  display: block;
  position: absolute;
  height: 4px;
  width: 100%;
  background: var(--white);
  border-radius: 9px;
  opacity: 1;
  left: 0;
  transform: rotate(0deg);
  transition: .25s ease-in-out;
}

.burger span:nth-of-type(1) {
  top: 0px;
  transform-origin: left center;
}

.burger span:nth-of-type(2) {
  top: 50%;
  transform: translateY(-50%);
  transform-origin: left center;
}

.burger span:nth-of-type(3) {
  top: 100%;
  transform-origin: left center;
  transform: translateY(-100%);
  
}

.burger input:checked ~ span:nth-of-type(1) {
  transform: rotate(45deg);
  top: 0px;
  left: 5px;
  
}

.burger input:checked ~ span:nth-of-type(2) {
  width: 0%;
  opacity: 0;
}

.burger input:checked ~ span:nth-of-type(3) {
  transform: rotate(-45deg);
  top: 28px;
  left: 5px;
}
.header__nav-menu {
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 40px;
}

@media screen and (max-width: 991.98px) {
        .header__nav-menu {
            display: none;
        }

        .open{
            display: block;
        }

        .header{
            display: grid;
            grid-template-areas:
            "a b"
            "c c"
            "d d";
            place-items: center;
        }

        .header__nav-menu{
            grid-area: a;
        }

        .burger {
            display: block;
            grid-area: b;
        }

        .header__nav-menu{
            grid-area: c;
        }

        .header__rrss{
            grid-area: d;
            margin-bottom: 16px;
        }

    }


  
  select{
    outline: none;
    background: transparent;
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    border-radius: 16px;
    border: 1px solid rgba(255, 255, 255, 0.1);
    margin: 0 auto;
    display: block;
    width: 64px;
    font-size: 16px;
    color: var(--primary);
    padding: 8px 16px;
    text-align: center;
    position: relative;
    transition: all .5s ease;
}
  select option::after{
    content: "↓";
    color: white;
    display: block;
    width: 24px;
    height: 24px;
  }

  select:hover{
    transition: all .5s ease;
    background: var(--primary);
    box-shadow: 0 0 20px 5px rgba(0, 236, 157, 0.2);
    -webkit-transition: all 0.2s ease-out;
    -moz-transition: all 0.2s ease-out;
    transition: all 0.2s ease-out;
    color: #000;
  }





</style>
