---
import P2 from "../img/Avaya-Spaces-OnBoarding.jpg";
import P3 from "../img/citas-veterinaria.jpg";
import P4 from "../img/Cotizador-Seguros.jpg";
import P6 from "../img/PokeGame.jpg";
import P7 from "../img/toDo.jpg";
import P9 from "../img/AvayaPPC.jpg";
import P10 from "../img/Experience-Spain.jpg";
import html from "../img/html.png";
import css from "../img/css.png";
import js from "../img/js.png";
import boostrap from "../img/boostrap.png";
import tailwind from "../img/tailwind.png";
import react from "../img/react.png";
import vue from "../img/vue.png";

export interface Props {
	action: string;
	tech: string;
}

const { action, tech } = Astro.props;



const data = [

  {
    name: "Avaya & Genesys Landing Page",
    image: P2,
    language: [html, css, js, boostrap],
    url: "https://www4.avaya.com/usa/campaigns/FY23/Genesys_Campaign_Landing-Page/index.html"
  },

  {
    name: "PCC EMEA Microsite",
    image: P9,
    language: [html, css, js, boostrap],
    url: "https://partners.avaya.com/ev-emea-pcc23-prague-home?elqTrackId=a43f3b07d3d544e383bec106be4e8816&elq=688eed5c717f478fb640d27dd1dcf4ff&elqaid=17055&elqat=2&elqCampaignId=17942"
  },

  {
    name: "Experience Spain",
    image: P10,
    language: [html, css, js, boostrap],
    url: "https://www4.avaya.com/eu/events/FY23/MKT-2303-Experience-Avaya-Spain-2023-Microsite/microsite/index.html"
  },

  {
    name: "Context App Car Insurance",
    image: P4,
    language: [html, css, js, tailwind, react],
    url: "https://tubular-cassata-010a65.netlify.app"
  },

  // {
  //   name: "Veterinary Appointments",
  //   image: P3,
  //   language: [html, css, js, tailwind, react],
  //   url: "https://dulcet-florentine-55ca2e.netlify.app"
  // },


  {
    name: "Vue App PokeGame",
    image: P6,
    language: [html, css, js, vue],
    url: "https://chic-belekoy-9dad76.netlify.app"
  },

  {
    name: "React ToDo List",
    image: P7,
    language: [html, css, js, react],
    url: "https://dazzling-croissant-266605.netlify.app"
  },
];
---

<main class="container-fluid projects animate__animated animate__slideInUp animate__delay-2s	3s">
  {
    data?.map((project) => (
      <article class="glass projects__card">
        <img class="projects__img" src={project.image} alt={project.name} />
          <h3 class="projects__title">{project.name}</h3>
          <div class="projects__info">
          <div class="projects__languages">
            <p class="tech">{ tech }</p>
              <img class="projects__icon" src={project.language[0]} alt="" />
              <img class="projects__icon" src={project.language[1]} alt="" />
              <img class="projects__icon" src={project.language[2]} alt="" />
              <img class="projects__icon" src={project.language[3]} alt="" />
              {project.language[4] && <img class="projects__icon" src={project.language[4]} alt="" />}
          </div>
          <a target="_blank" rel="noopener noreferrer" href={project.url}><button class="btn__secundary">{ action } →</button></a>
        </div>
      </article>
    ))
  }
</main>

<style>
  .projects {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    justify-content: space-between;
    gap: 24px;
    box-sizing: border-box;
    padding: 0;
  }

  @media (max-width: 991.98px){
  	.projects {
      grid-template-columns: 1fr;
    }
  }

  .projects__img {
    width: 100%;
    border-radius: 16px 16px 0 0;
  }

  .projects__card {
    padding-bottom: 40px;
  }
  .projects__title {
    color: var(--white);
    text-align: center;
  }

  .projects__title::after{
    content: "";
    display: block;
    height: 1px;
    width: 160px;
    margin: 12px auto 0;
    background-color: var(--terciary);
  }

  .projects__info{
    text-align: center;
  }

  .projects__languages{
    margin-bottom: 24px;
  }

  .projects__info a button{
    cursor: pointer;
  }

  .projects__icon {
    width: 32px;
  }


 .btn__secundary a{
    color: var(--white);
    text-decoration: none;
  }

  .tech{
    color: var(--white);
  }
</style>
